<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JWT Demo</title>
</head>

<body>
    @{ 
        ViewBag.Title = "Demonstrating JWT Authentication";
    }

    <p> You're logged in as:&nbsp; @User.Identity.Name</p>
    <p>@ViewBag.Message</p>

</body>
</html>

